
.about {
    background-color: #fff;
    padding-top: 85px;
}

.about .titlepage {
    text-align: left;
    padding-bottom: 0;
    max-width: 443px;
    width: 100%;
    float: right;
    margin-top: 50px;
}

.about .titlepage h2 {
    margin-bottom: 35px;
}

.about .titlepage p {
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    padding-bottom: 35px;
}

.about_img {
    margin-right: 40px;
    overflow: hidden;
}

.about_img figure {
    margin: 0;
}
