

.about {
    background-color: #fff;
    padding-top: 5px;
}

.about .titlepage {
    text-align: left;
    padding-bottom: 0;
    max-width: 443px;
    width: 100%;
    float: right;
    margin-top: 50px;
}

.about .titlepage h2 {
    margin-bottom: 35px;
}

.about .titlepage p {
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    padding-bottom: 35px;
}

.about_img {
    margin-right: 40px;
    overflow: hidden;
}

.about_img figure {
    margin: 0;
}

.stock-tab{
    margin-bottom: 10px;
    margin-top: 15px;
    background: left bottom -33px repeat-x;
    padding-bottom: 20px;
}

.stock-tab img{
    display: block;
    width: 40px;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}

.stock-tab h1, h6{
    padding: 0px;
    margin: 0px;
}

.stock-tab h6 span{
    font-size:14px;
    color:#bdb3b3;
}

.stock-edata{
    margin-top: 10px;
    border-top: #eaeaea 2px dashed;
    padding-top:10px;
}

.stock_price{
    color: #000;
    font: 700 36px 'Lato', arial;
}

.stock_change {
    font: 700 23px 'Lato', arial;
}


