.no-suggestions {
    color: #999;
    padding: 0.5rem;
  }
  .suggestions {
    border: 1px solid #999;
    border-top-width: 0;
    list-style: none;
    margin-top: 0;
    max-height: 143px;
    overflow-y: auto;
    padding-left: 0;
    width: 100%;
  }
  .suggestions li {
    padding: 0.5rem;
    color:#fff;
    font-size: 12px;;
  }
  .suggestion-active,
  .suggestions li:hover {
    background-color: transparent ;
    color: #fae042;
    cursor: pointer;
    font-weight: 700;
  }

  .header-search .suggestions{
    background-color:#eaeaea;
    z-index: 999;
  }

  .header-search .suggestions li{
    color: #000;  
  }

  .header-search
  .suggestion-active,
  .suggestions li:hover {
    background-color: beige ;
    color: #000;
    cursor: pointer;
    font-weight: 700;
  }
  .suggestions li:not(:last-of-type) {
    border-bottom: 1px solid #999;
  }