
.banner_main {
    position: relative;
    margin-bottom: 25px;
}

.banner .carousel-indicators li {
    width: 20px;
    height: 20px;
    border-radius: 30px;
    background: #000;
}

.banner .carousel-indicators .active {
    background-color: #fe0000;
}

.booking_ocline {
    position: absolute;
    width: 100%;
    top: 50%;
    left:22%;
    transform: translateY(-50%);
}

.book_room {
    background-color: #000000c7;
    padding: 30px 35px;
    border-left: #ff0909 solid 5px;
}

.book_room h1 {
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.book_now span {
    display: block;
    color: #fff;
    font-size: 18px;
    padding-bottom: 5px;
}

.book_now .online_book input {
    width: 100%;
    height: 50px;
    border: #fff solid 1px;
    background-color: transparent;
    color: #fff;
    padding: 0 10px;
    padding-right: 61px;
    position: relative;
}

.book_now .error {
    color:#fff;
    text-align: center;
    font-size: 12px;;
}

.date_cua {
    position: absolute;
    width: 29px;
    height: 29px;
    top: 48px;
    background-repeat: no-repeat;
    right: 30px;
}

.book_btn {
    background-color: #fe0000;
    max-width: 189px;
    width: 100%;
    margin: 0 auto;
    padding: 10px 0;
    border-radius: 50px;
    color: #fff;
    font-size: 20px;
    transition: ease-in 0.5s;
    display: block;
    margin-top: 25px;;
}

.book_btn:hover {
    background-color: #fff;
    color: #fe0000;
    transition: ease-in 0.5s;
}

.book_btn:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    background-color: #eaeaea;
  }

.carousel-control-next,
.carousel-control-prev {
    display: none;
}

.carousel-indicators {
    right: inherit;
    bottom: 53px;
    margin-left: 9%;
}

.carousel-inner img { 
 min-height: 420px;
 max-height: 420px;
}